{% extends 'base.html' %}

{% block title %} Add a New Post {% endblock %}  

{% block content %}

{% if user.is_authenticated %}

    <h1>Add a New Post</h1>
    <br/><br/>
    <div class="form-group">
        <form method = "POST">
            <!-- Create a CSRF(Cross-Site-Request-Forgery) token -->
            {% csrf_token %}

            <!-- Use Django for system -->
            {{ form.as_p }}
            <!--  {{ form.as_ul }}
            {{ form.as_table }} -->
            <button class="btn btn-success">Save</button>

        </form>
    </div>
{% else %}
    <h3>Please Login first.</h3>
{% endif %}

{% endblock %}
