{% extends 'base.html' %}

{% block title %} 
    {{ object.title_tag }}
{% endblock %}  

{% block content %}

    <h1>{{ object.title }}</h1>
    <small>by {{object.author.first_name}} {{object.author.last_name}} | {{ object.category }} | {{ object.created_date }} 

    {% if user.is_authenticated %}
        {% if user.id == object.author.id %}
    |
        <a href="{% url 'update-post' object.pk %}">(Edit)</a>
        <a href="{% url 'delete-post' object.pk %}">(Delete)</a></small><br>
        {% endif %}
    {% else %}

    {% endif %}
    <hr>
    <br/>
    {{ object.body|safe }}            
    <br/><br/>
    <a href="{% url 'home' %}" type="button" class="btn btn-secondary">Back</button></a>
    <br/><br/>
    <hr>
    <form action="{% url 'like-post' object.pk %}" method="POST">
        {% csrf_token %}
        {% if user.is_authenticated %}
            {% if liked %}
                <button type="submit", name="post_id", value ="{{ object.id }}", class="btn btn-danger btn-sm">Unlike</button> {{ total_likes }} Likes
            {% else %}
                <button type="submit", name="post_id", value ="{{ object.id }}", class="btn btn-primary btn-sm">Like</button> {{ total_likes }} Likes
            {% endif %}
        {% else %}
            <small><a class="nav-link" href="{% url 'login' %}">Login to Like!</a></small><br>
            {{ total_likes }} Likes
        {% endif %}
    </form>


{% endblock %}