{% extends 'base.html' %}

{% block content %}

    <h1>Blog Posts</h1>

    <ul>
    {% for object in object_list %}
        <li>
        <a href="{% url 'article-detail' object.pk %}">{{ object.title }}</a> - {{ object.author.first_name }}
        {{ object.author.last_name }} <small>on {{ object.created_date }} | <a href="{% url 'update-post' object.pk %}">(Edit)</a>
        | <a href="{% url 'delete-post' object.pk %}">(Delete)</a></small><br>
        {{ object.body }} </li>
    {% endfor %}
    </ul>

{% endblock %}
